[Unit]
Description=OpenSearch Dashboards 3.6.0
After=network-online.target opensearch.service
Wants=network-online.target

[Service]
Type=simple
User=opensearch
Group=opensearch
WorkingDirectory=/opt/opensearch-dashboards
ExecStart=/opt/opensearch-dashboards/bin/opensearch-dashboards
Restart=on-failure
RestartSec=20
TimeoutStartSec=180
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
