[Unit]
Description=OpenSearch 3.6.0
After=network-online.target
Wants=network-online.target
RequiresMountsFor=/data

[Service]
Type=simple
User=opensearch
Group=opensearch
Environment="OPENSEARCH_HOME=/opt/opensearch"
Environment="OPENSEARCH_PATH_CONF=/opt/opensearch/config"
Environment="DISABLE_INSTALL_DEMO_CONFIG=true"
WorkingDirectory=/opt/opensearch
ExecStart=/opt/opensearch/bin/opensearch
Restart=on-failure
RestartSec=30
TimeoutStartSec=300
LimitNOFILE=65536
LimitMEMLOCK=infinity
LimitNPROC=4096

[Install]
WantedBy=multi-user.target
