[Unit]
Description=OpenSearch
Documentation=https://opensearch.org/docs/
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=opensearch
Group=opensearch
WorkingDirectory=/opt/opensearch
Environment=OPENSEARCH_HOME=/opt/opensearch
Environment=OPENSEARCH_PATH_CONF=/opt/opensearch/config
Environment=OPENSEARCH_JAVA_HOME=/opt/opensearch/jdk
ExecStart=/opt/opensearch/bin/opensearch
Restart=on-failure
RestartSec=5
TimeoutStopSec=90
LimitNOFILE=65536
LimitMEMLOCK=infinity
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
