[Unit]
Description=Prometheus Process Exporter
Documentation=https://github.com/ncabatoff/process-exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=process-exporter
Group=process-exporter
ExecStart=/usr/local/bin/process-exporter -config.path /etc/process-exporter/process-exporter.yml -web.listen-address=127.0.0.1:9256 -gather-smaps=false -threads=false -children=true
Restart=on-failure
RestartSec=5
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
