[Unit]
Description=Prometheus v3.14.0
After=network-online.target
Wants=network-online.target
RequiresMountsFor=/data

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecStart=/opt/prometheus/prometheus \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.path=/data/prometheus \
  --storage.tsdb.retention.time=3d \
  --storage.tsdb.retention.size=2GB \
  --web.listen-address=0.0.0.0:9090
Restart=on-failure
RestartSec=15
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
